.ellipse1 {
  position:absolute;
  width: 1081px;
  height: 1287px;
  left: -200px;
  top: -180px;
}

/* .ellipse2 {
  position: absolute;
  width: 716px;
  height: 716px;
  left: 801px;
  top: -218px;
} */

.ellipse3 {
  position: absolute;
  width: 700px;
  height: 800px;
  left: 816px;
  margin-top: -1100px;
}

.ellipse4 {
  position: absolute;
  width: 716px;
  height: 716px;
  margin-top: -300px;
}

.ellipse5 {
  position: absolute;
  width: 790px;
  height: 869px;
  left: 728px;
  margin-top: 30px;
}

.ellipse6 {
  position: absolute;
  width: 716px;
  height: 716px;
  margin-top: 500px;
}

.ellipse7 {
  position: absolute;
  width: 790px;
  height: 869px;
  left: 728px;
  margin-top: 1400px;
}
.ellipse8 {
  position: absolute;
  width: 800px;
  height: 900px;
  margin-top: 1100px;
}
.ellipse9 {
  position: absolute;
  width: 790px;
  height: 869px;
  left: 728px;
  margin-top: 2200px;
}
.ellipse10 {
  position: absolute;
  width: 800px;
  height: 900px;
  margin-top: 2300px;
}

